<h2>Foire aux questions</h2>
<div class="faq-container">
    <% questions.forEach((item, index) => { %>
    <div class="faq-item">
        <h3>Question <%= index+1 %>: <%= item.question %></h3>
        <p><%= item.answer %></p>
    </div>
    <% }); %>
</div>